	<div class="row">
		<div class="col-md-3 col-sm-12">
			<section class="columnItem padding-left">
				{{#if isEditing}}
			    <form {{action "newTitle" this on="submit"}}>
					
						{{input type="text" value=column.name}}
						<button class="btn btn-default" type="submit">submit</button>
						
			    </form>
			    {{else}}
				<h2 {{action "toggleEditing"}}>{{column.name}} <span class="js-menu-open" {{action "getMenu" bubbles=false}}>{{#if menuOpen}} {{partial "partials/column-menu"}} 
					{{else}}...{{/if}}</span></h2>
				{{/if}}

				<p>Created By: {{column.id}}</p>
				<p>Description: {{column.description}}</p>
				
				{{#if isAdding}}
					{{#bs-form-group}}
						Placeholder form
					{{/bs-form-group}}		
					<button class="btn btn-default" {{action "insertCard"}}>Submit</button>
					<button class="btn btn-default" {{action "cancelCard"}}>Cancel</button>
					{{else}}	
					<button class="btn btn-default" {{action "addCard"}}>Add a Card</button>
				{{/if}}
			
			</section>
		</div>
	</div>